.instructions {
    padding: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    color: var(--black-color);
    text-align: justify;
}

.publications {
    /* border: 1px solid red; */
    /* padding: 20px; */
}

.publication {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 25px;
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.publication:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.publication img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.left h3 {
    color: var(--blue-color);
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
}

.left h3:hover {
    color: #05315a;
    text-decoration: underline;
}

.left p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.8;
    color: #333;
    text-align: justify;
}

.people {
    font-size: 16px !important;
    color: var(--blue-color);
}

.people a:hover {
    color: var(--blue-color) !important;
    /* font-weight: 500 !important; */
    text-decoration: underline !important;
}

/* media queries for mobile */
@media (max-width: 768px) {

    .publication {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
        text-align: justify;
    }
}