.footer-section {
    background-color: #fff;
    color: #021629;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    margin-top: 0 0 0 0;
}

.footer_container {
    padding: 0 !important;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3px;
    background-color: #fff;
    color: #021629;
    /* border: 1px solid #021629; */
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    /* border: 1px solid #021629; */
    padding: 30px !important;
}

.footer-logo img {
    width: 100px;
}

.footer-logo h3 {
    font-size: 14px;
    margin-top: 10px;
}

.footer-logo p {
    font-size: 13px;
    margin-top: 8px;
}

.footer-links {
    list-style-type: none;
    padding: 0px;
    margin-left: 30px;
}

.footer-links p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-links li {
    margin-bottom: 10px;
    list-style: circle;
    font-size: 14px;
    margin-left: 20px;
}

.footer-links a {
    color: #021629;
    text-decoration: none !important;
}

.footer-links a:hover {
    text-decoration: underline !important;
}

.footer-social {
    margin-top: 20px;
}

.social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
}

.social-icons li {
    margin-right: 15px;
}

.social-icons a {
    /* color: white; */
    color: #05315a;
    text-decoration: none;
}

.social-icons a {
    /* color: white; */
    color: #021629;
    text-decoration: none;
}

.footer_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_address {
    font-size: 14px;
    margin-bottom: 15px;
}

.footer_mail_link {
    font-size: 14px;
    color: #021629;
    text-decoration: none !important;
}

.below_footer {
    width: 968px;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.made_by a {
    font-size: 14px;
    color: #05315a;
}

/* media query for mobile */
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
    }

    .footer-column {
        flex: 1;
        /* border: 1px solid #021629; */
        padding: 15px !important;
        width: 100%;
    }

    .footer-links {
        list-style-type: none;
        padding: 0px;
        text-align: start;
        margin-left: 20px;
    }

    .social-icons {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .footer-section {
        margin-top: 0 0 0 0;
        padding: 0 !important;
    }

    .below_footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-bottom: 20px;
    }
}